<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>

  <input type="text" id="input_ToDo" [(ngModel)]='state' placeholder="To Do"><br>

  <input type="button" (click)="setContract()" value="Set Contract">

  <input type="button" (click)="addToDo()" value="Add new To Do">

  <input type="button" (click)="assignToDo()" value="Assign To Do">

  <input type="button" (click)="changeToDoStatus()" value="Change ToDo Status">

  <input type="button" (click)="removeToDo()" value="Remove ToDo">

  <input type="button" (click)="getToDo()" value="Get ToDos toDo">

  <input type="button" (click)="getInProgress()" value="Get ToDos inProgress">

  <input type="button" (click)="getDone()" value="Get ToDos done">
  <p></p>
  <!-- <textarea data-ng-model="myModel"></textarea>    -->
  <button class="btn btn-primary">Desi</button>
  <div>{{ myModel }}</div>

</div>


  <div class="input-group">
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </div>